<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hipolabs.universities">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/university_icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/university_icons_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindUniversity"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>